body{
    background-color: #E0F7FA;
    font-family: Arial;
    text-align: center;
}

.strona{
    width: 95%;
    margin: auto;
}

header{
    background-color: #00838F;
    height: 200px;
}

nav{
    background-color: #006064;
    padding: 15px;
}

nav a{
    color: white;
    font-size: 150%;
    text-decoration: none;
}

main{
    height: 350px;
    width: 33%;
    float: left;
}

footer{
    background-color: #006064;
    color: white;
    text-align: right;
    padding: 10px;
}

ul{
    text-align: left;
}

button{
    background-color: #00838F;
    color: white;
}

button:hover{
    color: #80DEEA;
}